@use '../../styles/palette.scss' as *;
@use '../../styles/curves.scss' as *;

:root, :root[data-theme='light'] {
    --tooltip-bg: #{rgba($black-0, 0.4)};
    --tooltip-text: #{$white-1};
    --tooltip-border: #{rgba($white-1, 0.3)};
    --tooltip-shadow: #{rgba($black-0, 0.8)};
    --tooltip-shadow-2: #{rgba($black-0, 0.4)};
}

:root[data-theme='dark'] {
    --tooltip-bg: #{rgba($black-1, 0.2)};
    --tooltip-text: #{$light-1};
    --tooltip-border: #{rgba($light-1, 0.3)};
    --tooltip-shadow: #{rgba($black-0, 0.8)};
    --tooltip-shadow-2: #{rgba($black-0, 0.4)};
}

.popoverTooltip {
    padding: 6px 12px;
    border-radius: 12px;
    background: var(--tooltip-bg);
    color: var(--tooltip-text);
    font-size: 13px;
    font-weight: 500;
    font-family: 'HMSans_EN','HMSans','UD_ShinGo Regular', 'Noto Sans Arabic', 'Noto Sans Thai', sans-serif;
    user-select: none;
    white-space: nowrap;
    border: 1px solid  var(--tooltip-border);
    text-shadow: 1px 1px 1px var(--tooltip-shadow), 0 0 1px var(--tooltip-shadow-2), -0.5px -0.5px 2px var(--tooltip-shadow-2);
    box-shadow: 0 4px 12px var(--tooltip-shadow-2);
    margin: 0;
    backdrop-filter: blur(6px) brightness(1.2);
    
    inset: unset;
    
    &:popover-open {
        opacity: 1;
        transition: opacity 120ms $moderato-curve, 
                    overlay 120ms $moderato-curve allow-discrete, 
                    display 120ms $moderato-curve allow-discrete;
    }
    
    @starting-style {
        &:popover-open {
            opacity: 0;
        }
    }
    
    &.popoverClose {
        opacity: 0;
        transition: opacity 120ms $moderato-curve;
    }
}
