.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(25, 25, 25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loadingBar {
  position: fixed;
  height: 100vh;
  width: 32px;
  overflow: visible;
  background-color: transparent;
  left: 0;
  top: 0;

  &.mobile {
    height: 32px;
    width: 100vw;
    left: 0;
    top: 80vh;
  }
}

.loadingProgress {
  background-color: rgb(255, 250, 0);
  border-radius: 2px;
  position: relative;
  display: flex;
  transition: all 0.1s linear;
  justify-content: center;
  align-items: center;

  .loadingBar:not(.mobile) & {
    width: 100%;
    height: 0;
    flex-direction: column-reverse;
  }

  .loadingBar.mobile & {
    width: 0;
    height: 100%;
    flex-direction: row;
  }
}

.loadingText {
  position: absolute;
  color: rgb(255, 250, 0);
  font-size: 14px;
  white-space: nowrap;

  .loadingBar:not(.mobile) & {
    left: calc(100% + 2px);
    bottom: 0;
    transform: translateY(-50%);
  }

  .loadingBar.mobile & {
    bottom: calc(100% + 2px);
    right: 0;
    transform: translateX(-50%);
  }
}

.completionEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(255, 250, 0);
  animation: completionAnimation 0.4s ease-out forwards;
  z-index: 10000;
}

@keyframes completionAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}