@use '../../styles/palette.scss' as *;

$desktop-headbar-height: 4rem;

$sidebar-width: 300px;
$toggle-btn-size: 50px;
$transition-speed: 0.3s;

.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  transition: transform $transition-speed ease-in-out;
  &:not(.open) {
    transform: translateX(-$sidebar-width);
  }
  &.open {
    transform: translateX(0);
  }

  .sidebar {
    height: 100%;
    width: $sidebar-width;
    background-color: rgba($white-0, .5);
    color: $grey-1;
    -webkit-backdrop-filter: blur(35px) brightness(120%);
    backdrop-filter: blur(35px) brightness(120%);
    overflow-y: auto;
    box-shadow: 4px 0 8px rgba($black, .25);
    pointer-events: auto;
    transform: none;
    transition: none;

    .head_icon {
      background-color: $white-1;
      box-shadow: 0 4px 4px rgba($black, .25);
      display: flex;
      justify-content: center;
      > img {
        width: $desktop-headbar-height;
        height: $desktop-headbar-height;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
    .sidebar-content {
      padding: 15px;
      > .filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: .3rem;
      }
    }
  }

  .sidebar-toggle {
    position: absolute;
    top: 10px;
    left: $sidebar-width + 10px;
    width: $toggle-btn-size;
    height: $toggle-btn-size;
    background-color: $accent-3;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    z-index: 1001;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    pointer-events: auto;
    transition: background-color 0.2s ease;
    svg {
      fill: $grey-1;
      width: 24px;
      height: 24px;
    }

    &:hover {
      background-color: darken($accent-3, 5%);
    }
  }
}