@use '../../styles/palette.scss' as *;
@use '../../styles/curves.scss' as *;

:root, :root[data-theme='light'] {
    --drawer-bg: #{$white-1};
    --drawer-handle-bg: #{rgba($black-1, 0.9)};
    --drawing-handle-bg: #{rgba($primary-accent-4, 0.9)};
    --drawer-backdrop-bg: #{rgba($white-0, 0.2)};
}
:root[data-theme='dark'] {
    --drawer-bg: #{$black-1};
    --drawer-handle-bg: #{rgba($light-2, 0.9)};
    --drawing-handle-bg: #{rgba($primary-accent-4, 0.9)};
    --drawer-backdrop-bg: #{rgba($mid, 0.2)};
}

.triggerDrawer {
    border-radius: calc(var(--drawer-progress) * 1.5rem) calc(var(--drawer-progress) * 1.5rem) 0 0;
    box-shadow: 0 -2px 4px rgba($black-1, 0.35);
    z-index: 99;
}
.triggerDrawerHandle {
    background: transparent;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 3rem;
        height: 6px;
        border-radius: 3px;
        background-color: var(--drawer-handle-bg);
        transition: background-color 0.35s $moderato-curve, width 0.35s $standard-curve;
        will-change: width, background-color;
        box-shadow: 0 1px 3px rgba($black-0, 0.4);
    }
    &[data-dragging="true"]::before {
        background-color: var(--drawing-handle-bg);
        width: 4rem;
        transition: background-color 0.25s $moderato-curve, width 0.25s $standard-curve;
    }
}
.triggerDrawerBackdrop {
    border-radius: calc(var(--drawer-progress) * 1.5rem) calc(var(--drawer-progress) * 1.5rem) 0 0;
    background-color: var(--drawer-backdrop-bg);
    backdrop-filter: blur(clamp(3px, calc(calc(1 - var(--drawer-progress)) * 12px), 12px));
}

.triggerDrawerContent {
    display: flex;
    flex-direction: column;
    transform: translateY(clamp(0px, calc(calc(1 - var(--drawer-progress)) * 1.25rem), 1.25rem));
    filter: blur(clamp(0px, calc(calc(1 - var(--drawer-progress)) * 12px), 12px));
}
