@use '../../styles/palette.scss' as *;
@use '../../styles/curves.scss' as *;

:root, :root[data-theme='light'] {
    --modal-header-bg: #{$grey-1};
    --modal-bg: #{$light-1};
    --modal-header-text: #{$white-1};
    --modal-icon-fill: #{$white-1};
    --modal-btn-bg: #{$white-3};
    --modal-btn-text: #{$grey-1};
    --modal-deco: #{$grey-1};
}
:root[data-theme='dark'] {
    --modal-header-bg: #{$black-1};
    --modal-bg: #{$dim-1};
    --modal-header-text: #{$light-1};
    --modal-icon-fill: #{$light-1};
    --modal-btn-bg: #{$mid};
    --modal-btn-text: #{$black-1};
    --modal-deco: #{$black-1};
}

.modalMask {
    position: fixed;
    inset: 0;
    background: rgba($black-0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    backdrop-filter: blur(0);
    transition: opacity .3s $adagio-curve, backdrop-filter .3s $adagio-curve;
    will-change: opacity, backdrop-filter;
}

.modalMask[data-state="open"] {
    opacity: 1;
    backdrop-filter: blur(4px);
    transition: opacity .3s $adagio-curve, backdrop-filter .3s $adagio-curve;
    will-change: opacity, backdrop-filter;
}

.modalContainer {
    background-color: transparent;
    border-radius: 5px;
    color: var(--modal-header-text);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 4px rgba($black-0, 0.25);
    transform: scale(.92) translateY(4px);
    opacity: 0;
    transition: opacity .2s $adagio-curve, transform .25s $adagio-curve;
    will-change: opacity, transform;
    overflow: hidden;

    min-width: 20rem;
    max-width: 92vw; // default size = s
    &[data-size="s"] {
        width: 18rem;
        max-width: 92vw
    }
    &[data-size="m"] {
        width: 27rem;
        max-width: 92vw
    }
    &[data-size="l"] {
        width: 36em;
        max-width: 96vw
    }
    &[data-size="full"] {
        width: 60%;
        height: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column
    }

    .modalHeader {
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2.5rem;
        padding: 0.5rem;
        background-color: var(--modal-header-bg);
        font-weight: 900;
        box-shadow: 0 2px 3px rgba($black-0, 0.25);
        position: sticky;
        user-select: none;
        font-family: 'Novecento DemiBold', 'Novecento Cyrillic', 'HMSans_EN','HMSans','UD_ShinGo Regular','Noto Sans Arabic', sans-serif;
    }
}
.modalIcon {
    display: inline-flex;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 2px 1px rgba($black-0, 0.25));
    svg {
            transition: all 0.2s ease;
        fill: var(--modal-icon-fill);
            width: 1.5rem;
            height: 1.5rem;
        }
}
.modalContainer[data-state="open"] {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity .2s $adagio-curve, transform .25s $adagio-curve;
    will-change: opacity, transform;
}

.modalTitle {
    color: var(--modal-header-text);
    font-size: 1rem;
    margin: 0;
    margin-left: .3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    line-height: 1.5;
    text-transform: capitalize;
    text-shadow: 1px 2px 1px rgba($black-0, 0.25);
}

.modalContent {
    z-index: 1;
    padding: 0.6rem;
    max-height: 45vh;
    background-color: var(--modal-bg);
    overflow: scroll;
    &::-webkit-scrollbar {
            width: 0;
    }
}

.topBlur,
.bottomBlur {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    height: 2.5rem;
    pointer-events: none;
    transition: transform 0.25s ease-out;
}
.topBlur {
    top: 2.5rem;
    transform: translateY(-2.5rem);
    &.visible {
        transform: translateY(0);
    }
}
.bottomBlur {
    bottom: 0;
    transform: translateY(2.5rem);
    &.visible {
        transform: translateY(0);
    }
}