@use '../../styles/palette.scss' as *;

$transition-speed: 0.3s; //import from global size.scss later

.trigger-container {
  position: absolute;
  z-index: 900;
  display: flex;
  flex-direction: column;
  gap: .6rem;
  transition: transform $transition-speed ease-in-out;
  left: 1.1rem;
  bottom: 1rem;
}

.trigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .6rem;
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .trigger-icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    z-index: 1;
    pointer-events: none;

    .trigger-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.35rem;
      height: 1.35rem;
      transition: fill 0.4s ease;
      &.off > svg {
        transform: translateX(1px);
        width: calc(1.35rem - 2px);
        height:calc(1.35rem - 2px)//optimize for vertical center
      }
      //on state
      &.on {
        fill: $white-1;
        margin-left: auto;
      }
      &.off {
        fill: $grey-1;
        margin-right: auto;
      }
    }
  }
  .trigger-button {
    position: relative;
    width: calc(4.5rem - 4px);
    height: 2.25rem;
    border-radius: 4px;
    background-color: $grey-1;
    padding: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 4px 1px rgba($white-1, .5), inset 0px 0px 2px rgba($black, 0.2);
    &::after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: calc(2.25rem - 6px);
      height: calc(2.25rem - 6px);
      border-radius: 2px;
      background-color: $grey-3;
      box-shadow: 0 1px 2px rgba($black, 0.3);
      transition: transform 0.2s, background-color 0.2s ease;
      z-index: 0;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 2px 1px rgba($white-0,.75);
    }
    &.active {
      &::after {
        transform: translateX(calc(calc(2.25rem - 6px) + 2px));
        background-color: $primary-accent-4;
        box-shadow: 0 1px 3px rgba($black, 0.4);
      }
      //off state
      .trigger-icons {
        .on {
          fill: $grey-1;
        }
        .off {
          fill: $white-1;
        }
      }
    }
  }
  .trigger-label {
    user-select: none;
    font-family: 'Novecento Medium', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: $white-1;
    text-shadow: 0 1px 2px rgba($black, 1);
    white-space: nowrap;
  }
}