// fluid-to-dynamic transitions for various animation feelings
$adagio-curve: cubic-bezier(0.6, 0, 0.6, 1); // best compatibility with 400ms-500ms transitions
$moderato-curve: cubic-bezier(0.8, 0.2, 0.35, 0.7); // best compatibility with 300ms-400ms transitions
$standard-curve: cubic-bezier(0.4, 0, 0.2, 1); // best compatibility with 500ms-600ms transitions
$presto-curve: cubic-bezier(0.6, 0, 0, 1); // best compatibility with 600ms-800ms transitions
$vivacissimo-curve: cubic-bezier(0, 0, 0, 1); // best compatibility with 400ms-550ms transitions
