@font-face {
    font-family: 'Lang Origin';
    src:
        url('../assets/fonts/UD_ShinGo/LangOrigin.woff2') format('woff2'),
        url('../assets/fonts/UD_ShinGo/LangOrigin.woff') format('woff'),
        url('../assets/fonts/UD_ShinGo/LangOrigin.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Novecento Cyrillic DemiBold';
    src:
        url('../assets/fonts/Novecento/NWDemiBold+Grek+Cyrl.woff2') format('woff2'),
        url('../assets/fonts/Novecento/NWDemiBold+Grek+Cyrl.woff') format('woff'),
        url('../assets/fonts/Novecento/NWDemiBold+Grek+Cyrl.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Novecento Cyrillic Medium';
    src: url('../assets/fonts/Novecento/NWMed+Grek+Cyrl.woff2') format('woff2'),
        url('../assets/fonts/Novecento/NWMed+Grek+Cyrl.woff') format('woff'),
        url('../assets/fonts/Novecento/NWMed+Grek+Cyrl.otf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Novecento Vietnamese DemiBold';
    src:
        url('../assets/fonts/Novecento/NWBold+Viet.woff2')
            format('woff2'),
        url('../assets/fonts/Novecento/NWBold+Viet.woff') format('woff'),
        url('../assets/fonts/Novecento/NWBold+Viet.otf')
            format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Novecento Vietnamese Medium';
    src: 
        url('../assets/fonts/Novecento/NWMed+Viet.woff2') format('woff2'),
        url('../assets/fonts/Novecento/NWMed+Viet.woff') format('woff'),
        url('../assets/fonts/Novecento/NWMed+Viet.otf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Novecento Bold';
    src:
        url('../assets/fonts/Novecento/Novecento-WideBold.woff2') format('woff2'),
        url('../assets/fonts/Novecento/Novecento-WideBold.woff') format('woff'),
        url('../assets/fonts/Novecento/Novecento-WideBold.otf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Novecento DemiBold';
    src:
        url('../assets/fonts/Novecento/Novecento-WideDemiBold.woff2')
            format('woff2'),
        url('../assets/fonts/Novecento/Novecento-WideDemiBold.woff')
            format('woff'),
        url('../assets/fonts/Novecento/Novecento-WideDemiBold.otf')
            format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Novecento Book';
    src:
        url('../assets/fonts/Novecento/Novecento-WideBook.woff2') format('woff2'),
        url('../assets/fonts/Novecento/Novecento-WideBook.woff') format('woff'),
        url('../assets/fonts/Novecento/Novecento-WideBook.otf')
            format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Novecento Light';
    src:
        url('../assets/fonts/Novecento/Novecento-WideLight.woff2')
            format('woff2'),
        url('../assets/fonts/Novecento/Novecento-WideLight.woff') format('woff'),
        url('../assets/fonts/Novecento/Novecento-WideLight.otf')
            format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Novecento Medium';
    src:
        url('../assets/fonts/Novecento/Novecento-WideMedium.woff2')
            format('woff2'),
        url('../assets/fonts/Novecento/Novecento-WideMedium.woff') format('woff'),
        url('../assets/fonts/Novecento/Novecento-WideMedium.otf')
            format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Novecento Normal';
    src:
        url('../assets/fonts/Novecento/Novecento-WideNormal.woff2')
            format('woff2'),
        url('../assets/fonts/Novecento/Novecento-WideNormal.woff') format('woff'),
        url('../assets/fonts/Novecento/Novecento-WideNormal.otf')
            format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'HMSans_EN';
    src:
        url('../assets/fonts/Harmony/HMSans.woff2') format('woff2'),
        url('../assets/fonts/Harmony/HMSans.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
