@font-face {
    font-family: 'Lang Origin';
    src:
        url('../assets/fonts/UD_ShinGO/LangOrigin.woff2') format('woff2'),
        url('../assets/fonts/UD_ShinGO/LangOrigin.woff') format('woff'),
        url('../assets/fonts/UD_ShinGO/LangOrigin.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Novecento Bold';
    src:
        url('../assets/fonts/Novecento/Novecento-WideBold.woff2') format('woff2'),
        url('../assets/fonts/Novecento/Novecento-WideBold.woff') format('woff'),
        url('../assets/fonts/Novecento/Novecento-WideBold.otf')
            format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Novecento DemiBold';
    src:
        url('../assets/fonts/Novecento/Novecento-WideDemiBold.woff2')
            format('woff2'),
        url('../assets/fonts/Novecento/Novecento-WideDemiBold.woff')
            format('woff'),
        url('../assets/fonts/Novecento/Novecento-WideDemiBold.otf')
            format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Novecento Book';
    src:
        url('../assets/fonts/Novecento/Novecento-WideBook.woff2') format('woff2'),
        url('../assets/fonts/Novecento/Novecento-WideBook.woff') format('woff'),
        url('../assets/fonts/Novecento/Novecento-WideBook.otf')
            format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Novecento Light';
    src:
        url('../assets/fonts/Novecento/Novecento-WideLight.woff2')
            format('woff2'),
        url('../assets/fonts/Novecento/Novecento-WideLight.woff') format('woff'),
        url('../assets/fonts/Novecento/Novecento-WideLight.otf')
            format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Novecento Medium';
    src:
        url('../assets/fonts/Novecento/Novecento-WideMedium.woff2')
            format('woff2'),
        url('../assets/fonts/Novecento/Novecento-WideMedium.woff') format('woff'),
        url('../assets/fonts/Novecento/Novecento-WideMedium.otf')
            format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Novecento Normal';
    src:
        url('../assets/fonts/Novecento/Novecento-WideNormal.woff2')
            format('woff2'),
        url('../assets/fonts/Novecento/Novecento-WideNormal.woff') format('woff'),
        url('../assets/fonts/Novecento/Novecento-WideNormal.otf')
            format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'HMSans_EN';
    src:
        url('../assets/fonts/Harmony/HMSans.woff2') format('woff2'),
        url('../assets/fonts/Harmony/HMSans.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
