$black:rgb(0, 0, 0);

$grey-1:rgb(51, 51, 51);
$grey-2:rgb(102, 102, 102);
$grey-3:rgb(161, 161, 161);

$white-0:rgb(255, 255, 255);
$white-1:rgb(252, 252, 252);
$white-2:rgb(228, 228, 228);

$accent-1:rgb(253, 255, 149);
$accent-2:rgb(255, 252, 81);
$accent-3:rgb(255, 229, 36);
$accent-4:rgb(255, 196, 40);
$accent-5:rgb(255, 139, 56);