@use '../../styles/palette.scss' as *;
@use '../../styles/curves.scss' as *;
@use '../../styles/size.scss' as *;

:root, :root[data-theme='light'] {
    --search-bg: #{$grey-1};
    --search-txt: #{rgba($white-0, 0.9)};
    --search-shadow-out: #{rgba($black-0, 0.15)};
    --search-shadow-in: #{rgba($black-0, 0.25)};
    --search-placeholder: #{rgba($white-0, 0.7)};
    --search-icon: #{$white-0};
    --search-focus: #{$primary-accent-4};
    --search-outline: #{$primary-accent-3};
}
:root[data-theme='dark'] {
    --search-bg: #{$black-1};
    --search-txt: #{rgba($white-0, 0.9)};
    --search-shadow-out: #{rgba($black-0, 0.5)};
    --search-shadow-in: #{rgba($black-0, 0.6)};
    --search-placeholder: #{rgba($white-0, 0.7)};
    --search-icon: #{$white-2};
    --search-focus: #{$primary-accent-4};
    --search-outline: #{$primary-accent-3};
}

.searchContainer {
    width: 100%;
    margin-bottom: 1rem;

    .searchForm {
        width: 100%;

        .searchInputWrapper {
            position: relative;
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            background-color: var(--search-bg);
            border-radius: 6px;
            transition: all 0.3s;
            box-shadow: 0 2px 8px var(--search-shadow-out);
            &:focus-within {
                box-shadow: 0 2px 4px var(--search-shadow-in);
                > .searchIcon {
                    .icon {
                        fill: var(--search-focus);
                    }
                }
            }

            &:has(.searchInput:not(:placeholder-shown)) {
                box-shadow:
                    0 0 0 2px var(--search-outline),
                    0 2px 12px rgba($black-0, 0.25);
            }

            .searchInput {
                width: 100%;
                height: 100%;
                padding: 0 15px 0 45px;
                background: transparent;
                border: none;
                outline: none;
                color: var(--search-txt);
                font-size: 1rem;
                font-family: 'Roboto Slab', 'UD_ShinGo Demibold', sans-serif;
                font-weight: 400;

                &::placeholder {
                    user-select: none;
                    color: var(--search-placeholder);
                    text-shadow: 0 3px 1.5px rgba($black-0, 0.5);
                    transition:
                        opacity 0.3s,
                        filter 0.2s;
                    font-family: 'Roboto Slab', serif;
                    font-weight: 400;
                    will-change: opacity, filter;
                }
                &:focus::placeholder {
                    opacity: 0;
                    filter: blur(6px);
                }
            }
            .searchIcon {
                position: absolute;
                left: 0.8rem;
                width: 1.2rem;
                height: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: none;

                .icon {
                    width: 100%;
                    height: 100%;
                    fill: $white-0;
                    transition: fill 0.3s;
                    filter: drop-shadow(0 3px 1.5px rgba($black-0, 0.5));
                }
            }
        }
    }
}
@media screen and (max-width: $mobile-bp) {
    .searchContainer {
        margin-bottom: 0;
        .searchForm > .searchInputWrapper {
            border-radius: 1.5rem;
            transition: all 0.3s;
            &:has(.searchInput:not(:placeholder-shown)) {
                box-shadow:
                    inset 0 0 0 2px var(--search-outline)
            }
            .searchIcon {
                left: 0.9rem;
            }
        }
    }
}