@for $i from 1 through 33 {
  .avatar[data-avt="#{$i}"] {
    background-image: url('@/assets/images/avatar/avt_#{$i}.webp') !important;
  }
}
.avatar {
  &[data-avt="33"] {
    width: calc(5.5rem + 15px) !important;
    height: calc(5.5rem + 24px) !important;
    transform: translate(-11px, -28px) !important;
  }
}