@use '../../styles/palette.scss' as *;
@use '../../styles/curves.scss' as *;

:root, :root[data-theme='light'] {
    --tos-text: #{$grey-1};
}

:root[data-theme='dark'] {
    --tos-text: #{$light-2};
}

.storageContainer {
    display: flex;
    flex-direction: column;
    font-size: .85rem;
    color: var(--tos-text);
    font-family: "HMSans_EN", "HMSans", "UD_ShinGo Regular", "Noto Sans Arabic", "Noto Sans Thai", sans-serif;
    letter-spacing: -0.2px;
    font-weight: 600;
    line-height: 1.25;
    p {
        margin-bottom: 0.8em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.storageController {
    display: flex;
    gap: 0.8rem;
    margin-top: 0.5rem;
    width: 100%;
    &[data-device='desktop'] {
        flex-direction: row;
        align-items: stretch;
        .storageMap {
            flex: 1;
            width: auto;
            margin-top: 0;
        }
        .controls {
            flex: 0 0 14.3rem;
            height: auto;
            width: 14.3rem;
            padding-right: 0.3rem;
            display: flex;
            flex-direction: column;
            gap: 1.1rem;
            margin-top: 0;
            justify-content: center;
        }
    }

    &[data-device='tablet'], &[data-device='mobile'] {
        flex-direction: column;
        .storageMap {
            width: 100%;
            margin-top: 0;
        }
        .controls {
            width: 100%;
            margin-top: 0.2rem;
            padding: 0 0.3rem;
        }
    }
    &[data-device='tablet'] .controls {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    &[data-device='mobile'] .controls {
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
    }
}