@use '../../styles/palette.scss' as *;
@use '../../styles/curves.scss' as *;

:root, :root[data-theme='light'] {
    --tos-text: #{$grey-1};
}

:root[data-theme='dark'] {
    --tos-text: #{$light-2};
}

.storageContainer {
    display: flex;
    flex-direction: column;
    font-size: .85rem;
    color: var(--tos-text);
    font-family: "HMSans_EN", "HMSans", "UD_ShinGo Regular", "Noto Sans Arabic", "Noto Sans Thai", sans-serif;
    letter-spacing: -0.2px;
    font-weight: 600;
    line-height: 1.25;
    p {
        margin-bottom: 0.8em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.controls {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: flex-end;
}

.storageMap {
    flex: 1;
    min-height: 400px;
    width: 100%;
    margin-top: 1rem;
}