@use '../../../styles/palette.scss' as *;
@use '../../../styles/curves.scss' as *;

/* TODO: more point action include:
   1. next point highlight
   2. checked point indication
   3. point pulse animation
   4. point click feedback
   5. dark mode
   6. point stuff posit
*/

/* state injected on Inner */

.noFrameInner, .markerInner {
    transition: transform 0.3s $moderato-curve; // faster on reverse animation for visual unity
    &:hover {
        transform: translate3d(-50%, -60%, 0);
        transition: transform 0.35s $presto-curve;
    }
    &.selected {
        .FrameImage {
            opacity: 1;
            &::before {
                outline-color: $primary-accent-4;
            }
            &::after {
                border-top-color: $primary-accent-4;
                transform: rotate(-90deg);
            }
        }
        .noFrameImage {
            opacity: 1;
            filter: invert(1);
            transition: filter 0.3s $standard-curve, opacity 0.3s $moderato-curve;
        }
    }
    &.checked {
        .FrameImage, .noFrameImage {
            opacity: 0.5;
        }
        
        .FrameImage {
            outline-color: $grey-3;
            box-shadow: 0 0 10px rgba($black-0, 0.3);
            
            &::after {
                border-top-color: $grey-3;
            }
        }
    }
}
.noFrameInner, .markerInner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.noFrameMarkerIcon {
    background-color: transparent;
    clip-path: polygon(35% 0, 65% 0, 100% 35%, 100% 50%, 50% 100%, 0 50%, 0 35%);
    .noFrameImage {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: contain;
        transition: filter 0.3s $moderato-curve, opacity 0.3s $moderato-curve;
        opacity: 1;
        filter: invert(0);
    }
}
.FrameMarkerIcon {
    background-color: transparent;

    --image-size: 2rem;
    --icon-size: 1.75rem;
    .FrameImage {
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: var(--image-size);
        height: var(--image-size);

        opacity: 1;
        transition: opacity 0.3s $moderato-curve;

        &::before {
            content: '';
            position: absolute;
            width: var(--icon-size);
            height: var(--icon-size);
            background-color: $white-1;
            box-shadow: 0 0 10px $black-0;
            border-radius: 50%;
            z-index: -1;
            outline: 2px solid $white-1;
            outline-offset: 2px;
            transform: translate3d(calc((var(--image-size) - var(--icon-size)) / 2), calc((var(--image-size) - var(--icon-size)) / 2), 0);

            transition: outline-color 0.3s $moderato-curve;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -9px;
            left: calc(50% - 5px);
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 7px solid $white-1;
            transition: transform 0.2s $presto-curve;
            z-index: 10;
            filter: drop-shadow(0 0 2px rgba($black-0, 0.7));
            -webkit-transform-origin-x: center;
            -webkit-transform-origin-y: calc(var(--image-size) / -2);

            transition: border-top-color 0.3s $moderato-curve, transform 0.3s $presto-curve;
        }
    }
}

.customTooltip {
    background-color: transparent;
    border: none;
    box-shadow: none;

    &::before {
        display: none;
    }

    .tooltipInner {
        position: absolute;
        left: 0.4rem;
        top: 50%;
        transform: translateY(-50%);
        width: 2.5rem;
        height: 2.5rem;
        background-size: contain;


            &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                width: 29px;
                height: 29px;
                background-color: rgba(#d9d9d9, 0.02);
                box-shadow: 0 0 3px rgba(#000000, 0.5);
                border-radius: 50%;
                z-index: -1;
            }

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                width: 25px;
                height: 25px;
                box-shadow: 0 0 1px rgba(#000000, 0.25);
                border-radius: 50%;
                z-index: -1;
            }
        .image {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 3rem;
            width: 3rem;
            transform: translate3d(-50%, -50%, 0);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
