.UserGuideTooltipWrapper {
  --ug-wrapper-glow-bg: ivory;

  :root[data-theme='dark'] & {
    --ug-wrapper-glow-bg: #111111;
  }

  position: relative;
  display: inline-block;
  border-radius: 12px;

  &::before {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: inherit;
    background: var(--ug-wrapper-glow-bg);
    filter: blur(3px);
    z-index: -1;
  }
}

.UserGuideTooltipContainer {
  --ug-tooltip-svg-color: ivory;

  :root[data-theme='dark'] & {
    --ug-tooltip-svg-color: dark-schema-0;
  }
  
  background-image: url('@/assets/images/UI/tooltip/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--ug-tooltip-svg-color);
  max-width: 460px;
  padding: 10px 24px;
  border-radius: 8px;
}

.UserGuideHeader {
  --ug-tooltip-header-color:black;
  :root[data-theme='dark'] & {
    --ug-tooltip-header-color: white;
  }
  display: flex;
  flex-direction: row;

  .textContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-right: auto;
  }

  .spacer {
    min-width: 80px;
  }

  .index {
    font-size: 48px;
    color: var(--ug-tooltip-header-color);
  }

  .size {
    font-size: 24px;
    color: var(--ug-tooltip-header-color);
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .button {
    width: 42px;
    height: 42px;
    fill: var(--ug-tooltip-header-color);
    margin: 4px 4px;
  }

  .iconCircle {
    border-radius: 100%;
    border: 0.725px solid var(--ug-tooltip-header-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 4px;
  }
}

.UserGuideContentBase {
  --ug-tooltip-header-color:black;
  :root[data-theme='dark'] & {
    --ug-tooltip-header-color: white;
  }
  margin-top: 5px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: var(--ug-tooltip-header-color);
}

.UserGuideRangeIndicatorContainer {
  --ug-tooltip-progress-color: #333;
  :root[data-theme='dark'] & {
    --ug-tooltip-progress-color: #D9D9D9;
  }

  width: 179px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  background-color: transparent;
  margin: 0 auto;

  .square {
    width: 20px;
    height: 20px;
    border: 3px solid var(--ug-tooltip-progress-color);
    box-sizing: border-box;
    background-color: transparent;
    position: relative;
    flex-shrink: 0;
  }

  .line {
    width: 58px;
    height: 3px;
    background-color: var(--ug-tooltip-progress-color);
    flex-shrink: 0;
  }

  .square + .line {
    margin-left: -10px;
  }

  .range + .line {
    margin-right: -10px;
  }

  .range {
    font-size: 16px;
    font-weight: 500;
    color: var(--ug-tooltip-progress-color);
    text-align: center;
    flex-grow: 1;
    line-height: 1;
  }
}