@use '@/styles/palette.scss' as *;

.label {
    background: transparent;
    border: 0;
}

.inner {
    color: $white-0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    text-shadow:
        0 0 2px rgba($black-0, 0.9),
        0 0 6px rgba($black-0, 0.75),
        0 2px 6px rgba($black-0, 0.85);
}
