@use '../../styles/palette.scss' as *;
@use '../../styles/curves.scss' as *;

:root, :root[data-theme='light'] {
    --map-bg: #{$light-1};
    --map-pattern-opacity: 1;
    --map-pattern-bg: #{$white-3};
    --map-pattern-error-bg: #{$primary-accent-6};

    --map-dropshadow: #{rgba($black-0, .3)};
}
:root[data-theme='dark'] {
    --map-bg: #111;
    --map-pattern-opacity: 1;
    --map-pattern-bg: #{$grey-1};
    --map-pattern-error-bg: #{$primary-accent-4};

    --map-dropshadow: #{rgba($light-2, .25)};
}

.mapContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    background-color: var(--map-bg);
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        pointer-events: none;
        transform: translateX(-1px);

        background-color: var(--map-pattern-bg);
        opacity: var(--map-pattern-opacity);
        
        mask-image: url('../../assets/images/UI/map-pattern.svg');
        mask-repeat: repeat;
        mask-size: 100px;
        
        transition: 
            opacity 0.35s ease,
            background-color 0.35s $moderato-curve ;
    }
    &.overdrag::before {
        background-color: var(--map-pattern-error-bg);
    }
}